<div class="columns is-centered">
  <div class="column is-4">
    <div class="card mt-3">
      <div class="card-header has-text-centered">
        <p class="card-header-title has-text-centered">Change your password</p>
      </div>
      <div class="card-content">
        <%= simple_form_for(resource, as: resource_name,
                                      url: password_path(resource_name),
                                      html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <%= f.input :reset_password_token, as: :hidden %>
          <%= f.full_error :reset_password_token %>

          <%= f.input :password, label: 'New password', required: true, autofocus: true, hint: ('#{@minimum_password_length} characters minimum' if @minimum_password_length) %>
          <%= f.input :password_confirmation, label: 'Confirm your new password', required: true %>

          <%= f.button :submit, 'Change my password' %>
        <% end %>

        <%= render 'vista_admins/shared/links' %>
      </div>
    </div>
  </div>
</div>
