<% title 'Branches' %>
<% breadcrumb :partners_branches, @business_unit %>
<% content_for(:hero_right) do %>
  <%= link_to 'New branch', [:new, :partners, @business_unit, :branch], class: 'button is-primary' %>
  <%= link_to 'Edit business unit', [:edit, :partners, @business_unit], class: 'button is-primary' %>
<% end %>

<div class="card">
  <%= render 'header' %>

  <div class="card-table">
    <div class="content">
      <table class="table is-hoverable is-striped">
        <tbody>
          <%= render @branches %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= paginate @branches %>
